<md-dialog flex="50" flex-xs="90">
    <form name="myForm" ng-submit="submit()">
    <md-toolbar layout="row" layout-align="center center" class="header">
        <div class="md-toolbar-tools">
            <h2>Incluir {{newAccount.type | accountTypeName}}</h2>
        </div>
        <div flex></div>
        <div>
            <md-button class="md-icon-button" layout="row" layout-align="right center" ng-click="hide()">X</md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-padding">
        <div layout="row">
            <md-input-container flex="100">
                <label>Nome</label>
                <input name="name" ng-model="newAccount.name" required md-maxlength="50">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex="45">
                <label>Produto</label>
                <md-select name="type" ng-model="newAccount.product" required>
                    <md-option ng-repeat="(id, product) in products" ng-value="product.id">
                        {{product.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="55" flex-offset="10">
                <label>Instituição</label>
                <md-select name="type" ng-model="newAccount.institutionId" required>
                    <md-option ng-repeat="institution in institutions" ng-value="institution.id">
                        {{institution.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex="15">
                <label>Risco</label>
                <md-select name="risk" ng-model="newAccount.risk" required>
                    <md-option ng-repeat="(id, risk) in risks" ng-value="risk.id">
                        {{risk.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="20" flex-offset="5">
                <label>Admin. (% aa)</label>
                <input name="adminTax" ng-model="newAccount.adminTax" type="number" step="0.01" required>
            </md-input-container>
            <md-input-container flex="20" flex-offset="5">
                <label>Liquidez</label>
                <md-select name="type" ng-model="newAccount.liquidityType" required>
                    <md-option ng-repeat="(id, liquidity) in liquidityTypes" ng-value="liquidity.id">
                        {{liquidity.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="20" flex-offset="5" ng-if="newAccount.liquidityType == 'DPLUS'">
                <label>Dias</label>
                <input name="liquidityDays" ng-model="newAccount.liquidityDays" type="number" step="0.01" required>
            </md-input-container>
            <md-input-container flex="35" flex-offset="5" ng-if="newAccount.liquidityType == 'DUE_DATE'">
                <md-datepicker name="liquidityDueDate" ng-model="newAccount.liquidityDueDate" md-placeholder="Data" required style="margin-bottom: 18px;"></md-datepicker>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button class="md-accent" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-primary" type="submit" ng-disabled="myForm.$invalid">Incluir</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>