<md-dialog flex="40" flex-xs="90">
    <form name="myForm" ng-submit="submit()">
    <md-toolbar layout="row" layout-align="center center" class="header">
        <div class="md-toolbar-tools">
            <h2>Incluir Carteira de Ações</h2>
        </div>
        <div flex></div>
        <div>
            <md-button class="md-icon-button" layout="row" layout-align="right center" ng-click="hide()">X</md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-padding">
        <div layout="row">
            <md-input-container flex="100">
                <label>Nome</label>
                <input name="name" ng-model="newAccount.name" required md-maxlength="50">
            </md-input-container>
        </div>
        <div layout="row">
                <div layout="column" flex="100">
                    <md-autocomplete
                            md-selected-item="newAccount.defaultSubcategory"
                            md-search-text="searchText"
                            md-items="subcategory in querySearch(searchText)"
                            md-min-length="0"
                            md-autoselect="true"
                            md-floating-label="Categoria"
                            md-no-cache="true"
                            md-item-text="subcategory.fullName"
                            required>
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{subcategory.fullName}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found.
                        </md-not-found>
                    </md-autocomplete>
                </div>
        </div>
        <div layout="row">
            <div layout="column" flex="50">
                <md-input-container>
                    <label>Conta Corretora</label>
                    <md-select ng-model="newAccount.brokerAccount.id" ng-disabled="newAccount.brokerAccount">
                        <md-option ng-repeat="account in ckaAccounts" ng-value="account.id">
                            {{account.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="column" flex="45" flex-offset="5">
                <md-input-container>
                    <label>Instituição</label>
                    <md-select name="type" ng-model="newAccount.institutionId" required>
                        <md-option ng-repeat="institution in institutions" ng-value="institution.id">
                            {{institution.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button class="md-accent" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-primary" type="submit" ng-disabled="myForm.$invalid">Incluir</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>