<md-dialog flex="30" flex-xs="90">
    <form name="myForm" ng-submit="submit()">
    <md-toolbar layout="row" layout-align="center center" class="header">
        <div class="md-toolbar-tools">
            <h2>Atualizar Valor da Cota</h2>
        </div>
        <div flex></div>
        <div>
            <md-button class="md-icon-button" layout="row" layout-align="right center" ng-click="hide()">X</md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-padding">
        <div layout="row">
            <md-input-container>
                <md-datepicker name="date" ng-model="newIndex.date" md-placeholder="Data" required style="margin-bottom: 18px;"></md-datepicker>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Valor</label>
                <input name="value" ng-model="newIndex.value" type="number" required step="0.00000001" ng-change="calcGain(newIndex.value)">
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button class="md-accent" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-primary" type="submit" ng-disabled="myForm.$invalid">Incluir</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>