/********** >>> INDEX <<< ***********/
body{
    font-family: Roboto,Helvetica Neue,sans-serif !important;
}

/* Header */
md-toolbar.header {
    background-color: #22262e !important;
    /*    background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);*/
}
md-toolbar.header button.md-icon-button:hover{
    background-color: rgba(158,158,158,0.2) !important;
}
md-toolbar.subheader{
    min-height: 25px;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-toolbar.subheader button.md-button{
    min-height: 0;
    margin: 3px;
    height: 26px;
    line-height: 26px;
}

md-toolbar.subheader md-menu-content{
    background-color: #22262e
}

.top-menu-link {
    position: relative;
    font-weight: bold;
    color: #b1b3b4;
    font-size: 12px;
    padding: 0 25px 0 20px;
}

.menu-link {
    color: #b1b3b4;
}

/* Navegação Lateral
md-sidenav md-toolbar {
    background-color: #22262e !important;
}
md-sidenav {
  fill: #737373;
}
md-sidenav md-list md-list-item:hover {
    background-color: #ECEFF1;
    cursor:pointer;
}
.user-avatar {
  border-radius: 99%;
  width: 85px;
  height: 85px;
  margin: 10px;
}
*/

/********** >>> GERAL <<< ***********/
.border-radius-5 {
    border-radius: 5px;
}
.border-top-radius-5{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.c-hover:hover{
    background-color: rgba(158,158,158,0.2) !important;
    cursor:pointer;
}
.c-no-margin{
    margin: 0px !important;
}

.c-no-padding{
    padding: 0 !important;
}

.c-padding-5{
    padding: 5px;
}

.c-number-positive{
    color:blue;
}
.c-number-negative{
    color:red;
}

.c-caption{
    color: #7A7A7A;
}

.md-title.highlighted {
    border-bottom: 2px solid #93c47d;
}

.line-selection{
    background-color: d9ead3;
    font-weight: 500;
}
.color-selection{
    color: #93c47d;
}

a {
    color: #93c47d;
}

/********** >>> CARDS <<< ***********/
md-card.flat{
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.1);
}
md-card.no-border{
    border: 0px;
}
md-card.no-bg{
    background-color: rgb(250,250,250);
}
/*
md-card.mdl-color--green-600 {
    color: #fff;
}

md-card.summary-card{
    height: 95px;
}

md-card.report-card.white, md-card.report-card md-icon{
    color:white !important;
}
md-card.report-card md-card-title-text span.md-subhead {
    font-style: italic;
}
md-card.card-hover:hover{
    box-shadow: 0 8px 9px -5px rgba(0,0,0,.2),0 15px 22px 2px rgba(0,0,0,.14),0 6px 28px 5px rgba(0,0,0,.12);
    cursor:pointer;
}

.c-vertical-title{
    transition: rotate(270deg);
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(180deg);
    white-space: nowrap;
    display: block;
    bottom: 0;
    width: 20px;
    padding: 16px 0;
    font-size: x-large;
    letter-spacing: 0.08em;
}
*/

/********** >>> ICONS <<< ***********/
.material-icons.md-18 {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin: 0;
    min-height: 0;
    padding: 0;
}
.material-icons.md-24 {
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
    width: 36px;
    height: 36px;
}
.material-icons.md-48{
    font-size:48px;
    width:48px;
    height:48px;
}


/********** >>> TO-DO LIST <<< **********
md-card.to-do-list md-card-header{
    color: white;
}
md-card.to-do-list md-card-content{
    min-height:381px;
    max-height:381px;
}
md-card.to-do-list md-card-content md-list-item md-checkbox.md-icon{
    border-color: white;

}
md-card.to-do-list md-card-content md-list-item .md-list-item-text.done{
    text-decoration: line-through;
    color: rgba(176,190,197,0.87);
}
md-card.to-do-list md-card-actions md-input-container{
    margin-bottom: 0px;
}
md-card.to-do-list md-card-actions md-input-container.md-icon-right{
    padding-left:5px;
}
md-card.to-do-list md-card-actions md-input-container.md-has-icon>input{
    padding-left: 8px;
    padding-right: 8px;
}
md-card.to-do-list md-card-actions md-input-container.md-has-icon>label{
    left: 8px;
}
md-card.to-do-list md-card-actions md-input-container.md-has-icon>md-icon{
    cursor:pointer;
}
*/

/********** >>> DIVIDER <<< ***********/
md-divider.blue{
    background-color:rgb(63,81,181);
}
md-divider.thin{
    border-top: 1px solid grey;
}


/********** >>> INPUT <<< **********
md-input-container.md-input-invalid md-select md-select-value{
    border-color: rgb(221,44,0);
}
md-option:hover{
    background-color: #eceff1 !important;
}

md-input-container.c-input-container-no-error div.md-errors-spacer{
    min-height: 0px;
}

md-datepicker{
    margin: 18px 0;
    height:43px;
}

.md-datepicker-input-container{
    padding-bottom: 3px;
}

.md-datepicker-button{
    height:43px !important;
}

fieldset{
    border: 1px solid lightgray;
    padding-left: 8px;
    margin: 0 2px;
}

.c-no-error md-input-container{
    padding-bottom: 0 !important;
    margin-bottom: 0;
}
*/

/********** >>> TABLE <<< **********/
table > thead > tr > th {
    border-top: 0 !important;
    font-size: 12px;
    text-align: center;
    background: #c0c0c0;
    color: white;
    padding: .75rem;
}
table > tbody > tr > td {
    border-top: 0 !important;
    font-size: 12px;
    text-align: center;
    padding: 1px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.table-striped {
    border: 1px solid rgba(0,0,0,0.12);
}

td > md-autocomplete,
td > md-autocomplete > md-autocomplete-wrap,
td > md-autocomplete > md-autocomplete-wrap > input{
    height: unset !important;
    font-size: 12px !important;
}

/********** >>> AUTOCOMPLETE <<< ***********/
md-autocomplete {
    background: white;
}
md-autocomplete input:not(.md-input) {
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    -ms-flex-preferred-size: 26px;
}

/*md-autocomplete-wrap{
    box-shadow: none !important;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}*/

.md-autocomplete-suggestions li {
    font-size: 12px;
    /*line-height: 36px;*/
}

md-autocomplete .md-show-clear-button button {
     height: unset;
}

/********** >>> TOAST <<< **********
md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
}


/********** >>> FILE UPLOAD <<< ***********/
.file-drop-box{
    border: 1px dashed rgba(0,0,0,0.12);
    padding: 15px;
    margin: 10px;
}

.file-drop-box-dragover{
    border-color: rgb(63,81,181);
    background-color: rgba(0,0,0,0.03);
}

.file-drop-box-dragover md-icon{
    color:rgb(63,81,181);
}


/********** >>> CALENDAR <<< **********
calendar-md{
    margin-top: 8px;
}
calendar-md md-content{
    min-height:0 !important;
    height:425px !important;
}
*/

/********** >>> TABLES <<< **********
.table-head{
    background-color: #90a4ae !important;
    color:white;
    font-weight:600;
    padding: 8px;
    min-height:34px;
}
.table-row{
    padding: 8px;
    min-height:34px;
}
*/
/********** >>> ACCORDION <<< **********
div.c-card-accordion-header{
    margin-top: 15px;
}
div.c-card-accordion-header span{
    padding:5px 10px;
}
div.c-card-accordion-header.closed{
    border-bottom: 1px solid #ddd;
}
div.c-card-accordion-header.opened{
    border-bottom: 2px solid rgb(124, 181, 236);
}
div.c-card-accordion{
    padding: 8px 8px 0px 8px;
}
div.c-card-accordion.opened{
    display: inherit;
    border: 1px solid #ddf;
}
div.c-card-accordion.closed{
    display:none;
}
*/
/********** >>> TOOLBAR <<< ***********/
md-toolbar.thin{
    min-height:0;
}
md-toolbar.thin div.md-toolbar-tools{
    height: inherit;
}

/********** >>> PROGRESS BAR <<< ***********/
md-progress-linear{
    position: absolute;
    top: 59px;
    z-index: 2;
}

